USE [master]
GO
/****** Object:  Database [CodeFastDB]    Script Date: 9/10/2025 9:20:54 PM ******/
CREATE DATABASE [CodeFastDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeFastDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CodeFastDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CodeFastDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CodeFastDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeFastDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeFastDB]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 9/10/2025 9:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[UserRole] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.[Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/10/2025 9:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[AC_Code] [int] NOT NULL,
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CusName] [nvarchar](255) NULL,
	[PType_ID] [int] NULL,
	[Add] [nvarchar](255) NULL,
	[NTN_No] [nvarchar](255) NULL,
	[ContactPerson] [nvarchar](255) NULL,
	[Owner_Name] [nvarchar](255) NULL,
	[Cell] [nvarchar](255) NULL,
	[Eml] [nvarchar](255) NULL,
	[Tel] [nvarchar](255) NULL,
	[SID] [int] NULL,
	[ZID] [int] NULL,
	[AddPer] [nvarchar](255) NULL,
	[Debit] [float] NULL,
	[Credit] [float] NULL,
	[Black_List] [bit] NULL,
	[War_Cls] [nvarchar](255) NULL,
	[War_DT] [nvarchar](255) NULL,
	[Prn] [nvarchar](255) NULL,
	[InActive] [bit] NULL,
	[Land] [varchar](255) NULL,
	[City] [int] NULL,
	[Village] [int] NULL,
	[CompanyID] [int] NULL,
	[CollectPerMonth] [decimal](18, 0) NULL,
	[MrNO] [varchar](50) NULL,
 CONSTRAINT [PK_Customers$] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 9/10/2025 9:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[IID] [int] IDENTITY(1,1) NOT NULL,
	[IName] [nvarchar](255) NULL,
	[Desc] [nvarchar](255) NULL,
	[SCatID] [int] NULL,
	[SalesPrice] [float] NULL,
	[UOM] [int] NULL,
	[isDeleted] [bit] NULL,
	[CompanyID] [int] NULL,
	[saleTax] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_D]    Script Date: 9/10/2025 9:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_D](
	[SD_ID] [int] IDENTITY(1,1) NOT NULL,
	[RID] [float] NULL,
	[IID] [float] NULL,
	[BNID] [float] NULL,
	[ExpDT] [datetime] NULL,
	[CTN] [nvarchar](255) NULL,
	[PCS] [float] NULL,
	[SCH] [nvarchar](255) NULL,
	[Qty] [float] NULL,
	[PurPrice] [float] NULL,
	[SalesPriceP] [float] NULL,
	[AddPer] [nvarchar](255) NULL,
	[AddAmt] [nvarchar](255) NULL,
	[SalesPrice] [float] NULL,
	[PAmt] [float] NULL,
	[DisP] [nvarchar](255) NULL,
	[DisAmt] [nvarchar](255) NULL,
	[DisRs] [nvarchar](255) NULL,
	[Amt2] [float] NULL,
	[Amt] [float] NULL,
	[PCK_Det] [float] NULL,
	[SRT] [float] NULL,
	[RCancel] [float] NULL,
	[ExpireDate] [varchar](50) NULL,
	[BatchNo] [varchar](50) NULL,
	[Pur_D_UnitID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_M]    Script Date: 9/10/2025 9:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_M](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[CompID] [float] NULL,
	[RID2] [nvarchar](255) NULL,
	[EDate] [datetime] NULL,
	[CAC_Code] [nvarchar](255) NULL,
	[AC_Code] [float] NULL,
	[Ship_To] [nvarchar](255) NULL,
	[Ship_ID] [nvarchar](255) NULL,
	[Trans_ID] [nvarchar](255) NULL,
	[BiltyNo] [nvarchar](255) NULL,
	[SID] [float] NULL,
	[WID] [float] NULL,
	[Rem] [nvarchar](255) NULL,
	[NetAmt2] [float] NULL,
	[DisAmt] [float] NULL,
	[PreBal] [float] NULL,
	[NetAmt] [float] NULL,
	[AC_Code3] [nvarchar](255) NULL,
	[CashAmt] [nvarchar](255) NULL,
	[APost] [float] NULL,
	[Posted] [float] NULL,
	[RCancel] [float] NULL,
	[War_Cls] [float] NULL,
	[Create_User_ID] [float] NULL,
	[Create_Date] [datetime] NULL,
	[Edit_User_ID] [float] NULL,
	[Edit_Date] [datetime] NULL,
	[Del_User_ID] [nvarchar](255) NULL,
	[Del_Date] [nvarchar](255) NULL,
	[InvNo] [nvarchar](25) NULL,
	[InvDT] [datetime] NULL,
	[InvType] [varchar](10) NULL,
	[CstId] [int] NULL,
	[TotalAmount] [decimal](20, 2) NULL,
	[CstInvNo] [nvarchar](25) NULL,
	[VenInvDate] [nvarchar](25) NULL,
	[TransportExpense] [float] NULL,
	[ReferenceNo] [varchar](50) NULL,
	[CashCustomer] [varchar](max) NULL,
	[diffCompany] [int] NULL,
	[diffCompanyStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([AC_Code], [CID], [CusName], [PType_ID], [Add], [NTN_No], [ContactPerson], [Owner_Name], [Cell], [Eml], [Tel], [SID], [ZID], [AddPer], [Debit], [Credit], [Black_List], [War_Cls], [War_DT], [Prn], [InActive], [Land], [City], [Village], [CompanyID], [CollectPerMonth], [MrNO]) VALUES (0, 1, N'dasdasd', NULL, N'sdfsfsfdf', N'324234234234', NULL, NULL, N'f435345345', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, NULL, NULL, NULL, N'432423424234')
INSERT [dbo].[Customers] ([AC_Code], [CID], [CusName], [PType_ID], [Add], [NTN_No], [ContactPerson], [Owner_Name], [Cell], [Eml], [Tel], [SID], [ZID], [AddPer], [Debit], [Credit], [Black_List], [War_Cls], [War_DT], [Prn], [InActive], [Land], [City], [Village], [CompanyID], [CollectPerMonth], [MrNO]) VALUES (0, 4, N'gfdgdf', NULL, N'dfggdfg', N'gdfgdfgdfg', NULL, NULL, N'gdfgdfgdf', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, NULL, NULL, NULL, N'gdgdgdfg')
INSERT [dbo].[Customers] ([AC_Code], [CID], [CusName], [PType_ID], [Add], [NTN_No], [ContactPerson], [Owner_Name], [Cell], [Eml], [Tel], [SID], [ZID], [AddPer], [Debit], [Credit], [Black_List], [War_Cls], [War_DT], [Prn], [InActive], [Land], [City], [Village], [CompanyID], [CollectPerMonth], [MrNO]) VALUES (0, 5, N'12', NULL, N'21', N'21', NULL, NULL, N'21', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, 1, NULL, NULL, NULL, N'212')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
USE [master]
GO
